<build>
	<sourceDirectory>.</sourceDirectory>
	<plugins>
		<plugin>
			<groupId>org.apache.maven.plugins</groupId>
			<artifactId>maven-compiler-plugin</artifactId>
			<configuration>
				<includes>
					<include>src/main/java/**/*.java</include>
					<include>src/main2/java/**/*.java</include>
				</includes>
			</configuration>
		</plugin>
	</plugins>
</build>

<build>
	<plugins>
		<plugin>
			<groupId>org.codehaus.mojo</groupId>
			<artifactId>build-helper-maven-plugin</artifactId>
			<executions>
				<execution>
					<phase>generate-sources</phase>
					<goals>
						<goal>add-source</goal>
					</goals>
					<configuration>
						<sources>
							<source>src/main/generated</source>
						</sources>
					</configuration>
				</execution>
			</executions>
		</plugin>
	</plugins>
</build>

<build>
	<plugins>
		<plugin>
			<groupId>org.apache.maven.plugins</groupId>
			<artifactId>maven-jar-plugin</artifactId>
			<version>2.3.1</version>
			<executions>
				<execution>
					<goals>
						<goal>sign</goal>
					</goals>
				</execution>
			</executions>
			<configuration>
				<keystore>/path/to/your/keystore</keystore>
				<alias>youralias</alias>
				<storepass>yourstorepassword</storepass>
				<signedjar>${project.build.directory}/signed/${project.build.finalName}.jar
				</signedjar>
				<verify>true</verify>
			</configuration>
		</plugin>
	</plugins>
</build>