<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring/context.xml</param-value>
	</context-param>
	
	<filter>
		<filter-name>access</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
		<init-param>
			<param-name>targetBeanName</param-name>
			<param-value>accessFilter</param-value>
		</init-param>
	</filter>	
	
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>
	
	<filter>
		<filter-name>global</filter-name>
		<filter-class>cn.touchin.filter.GlobalFilter</filter-class>
		<init-param>
			<param-name>globalVariables</param-name>
			<param-value>global.properties</param-value>
		</init-param>
	</filter>		

	<listener>
		<listener-class>cn.touchin.listener.WebContextListener</listener-class>
	</listener>
	
	<filter-mapping>
		<filter-name>access</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>access</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>	
	
	<filter-mapping>
		<filter-name>global</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>global</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	
	<!-- 
	<servlet>
		<servlet-name>imageValidate</servlet-name>
		<servlet-class>cn.touchin.servlet.image.NumericSecurityCodeImageValidate4Session</servlet-class>
	</servlet>

    <servlet-mapping>
		<servlet-name>imageValidate</servlet-name>
		<url-pattern>/imageValidate</url-pattern>
	</servlet-mapping>	
	 -->
	 
	<session-config>
		<session-timeout>20</session-timeout>
	</session-config>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
